<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.inkler">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".DatosApp"
        android:allowBackup="true"
        android:icon="@drawable/iconsquare"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iconround"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Mapa" />
        <activity
            android:name=".Navegador"
            android:label="@string/labelgaleiratatuador"
            android:parentActivityName=".FichaTatuadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FichaTatuadorActivity" />

            <intent-filter>
                <action android:name="android.intent.action.Navegador" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_AnadirTatuador" />
        <activity android:name=".Activity_AnadirEstudio" />
        <activity
            android:name=".GaleriaActivity"
            android:label="@string/labelgaleiratatuador"
            android:parentActivityName=".FichaTatuadorActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FichaTatuadorActivity" />

            <intent-filter>
                <action android:name="android.intent.action.GaleriaActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RecyclerTatuadores"
            android:label="@string/labelrvtatuadores" />
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FichaTatuadorActivity"
            android:label="@string/labelfichatatuador"
            android:parentActivityName=".RecyclerTatuadores">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RecyclerTatuadores" />

            <intent-filter>
                <action android:name="android.intent.action.FichaTatuadorActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>